.poster {
  width: 95%;         /* hampir penuh di HP */
  max-width: 700px;   /* biar tetap proporsional di desktop */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.animate-scroll {
  display: flex;
  animation: scroll 40s linear infinite;
}
